@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
* {
    box-sizing: border-box;
}

body{
    background: #EEF9BF;
    font-family: 'Roboto', sans-serif;
}

#header{
    margin: 50px auto;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header h1{
    font-size: 56px;
    font-weight: 700;
    color: #75B79E;
    text-align: center;
}

#container{
    margin: auto;
    width: calc(80% - 100px);
    /*Altura máxima de 2 cards*/
    max-height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card{
    width: 117px;
    height: 146px;
    background: #a7e9af;
    border-radius: 5px;
    border: 1px solid #99CEAB;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0;
    cursor: pointer;
    transition: all 350ms;
}

.card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.hide{
    display:none;
}

.card:hover{
    scale: 1.1;
}

